# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# PyInstaller
*.spec

# Build / packaging
build/
dist/
*.spec
